@page
@{
  ViewData["Title"] = "Home page";
}

<div class="p-3 m-3 shadow-lg">
  <h2 class="bg-info text-white p-3 rounded shadow">
    <img src="/img/icon.svg" height="80px" />
    .NET Demo Web App
  </h2>

  <div class="lead mt-4">
    This is a modern .NET web app using the new minimal hosting model, and Razor pages. It has been designed with cloud
    demos & containers in mind, and for ease of deployment into Azure Container Apps. A simple app to use
    anytime you want something lightweight to run & deploy.

  </div>
</div>
